@font-face {
    font-family: 'Coolvetica';
    src: url('../fonts/CoolveticaRg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Chrome, Safari, Edge */
::-webkit-scrollbar {
    display: none;
}
html,
body {
    overflow-x: hidden;
}
/* Firefox */
html {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

/* IE/old Edge */
body {
    font-family: 'Coolvetica', sans-serif;
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
}

.section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.content {
    flex-direction: column;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    height: 100vh;
    width: 100%;
    h1 {
        font-size: 6rem;
        margin: 0;
    }
}

.waterproof-pouch {
    height: 100vh;
    width: 100%;
    background-color: #000000;
    color: rgb(213,62,34);
    flex-direction: row;
    justify-content: center;
    .left {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .waterproof-pouch-image {
            background-image: url('../images/waterproof_pouch.jpg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 95%;
            width: 80%;
            display: flex;
            align-items: flex-end;    /* bottom */
            justify-content: center;  /* center horizontally */
            p {
                font-size: 1.5rem;
                font-weight: bold;
                margin: 0;
                text-shadow: 4px 4px 8px rgb(255 255 255 / 50%);
            }
        }
    }
    .right {
        text-align: left;
        width: 100%;
        h3 {
            font-size: 6rem !important;
            margin: 0;
        }
        p {
            font-size: 2rem;
        }
    }
}

.touchscreen-pen {
    height: 100vh;
    width: 100%;
    background-color: rgb(213,62,34);
    color: #000000;
    flex-direction: row;
    justify-content: center;
    .left {
        text-align: right;
        width: 100%;
        h3 {
            font-size: 6rem !important;
            margin: 0;
        }
        p {
            font-size: 2rem;
        }
    }
    .right {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .touchscreen-pen-image {
            background-image: url('../images/touchscreen_pen.jpg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 90%;
            width: 80%;
            display: flex;
            align-items: flex-end;    /* bottom */
            justify-content: center;  /* center horizontally */
            p {
                font-size: 1.5rem;
                font-weight: bold;
                margin: 0;
                text-shadow: 4px 4px 8px rgb(255 255 255 / 50%);
            }
        }
    }
}

.adhesive-card-pocket {
    height: 100vh;
    width: 100%;
    background-color: #000000;
    color: rgb(213,62,34);
    text-align: center;
    justify-content: space-evenly;
    background-image: url('../images/card_pocket_bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    .item-container {
        width: 100%;
        min-height: 16vh;
        display: flex;
        align-items: center;
        justify-content: center;
        h3 {
            margin: 0;
        }
    }
    .adhesive-card-pocket-image-container {
        display: flex;
        align-items: center;
        width: 100%;
    }
    h3 {
        font-size: 5rem !important;
        margin: 0;
    }
    .adhesive-card-pocket-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 90%;
    }
    .navy-adhesive-card-pocket-image {
        background-image: url('../images/navy_adhesive_card_pocket.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 60vh;
        width: 100%;
    }
    .black-adhesive-card-pocket-image {
        background-image: url('../images/black_adhesive_card_pocket.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 60vh;
        width: 100%;
    }
    .image-overlay {
        text-align: center;
        .label,
        .price {
            margin: 0;
        }
    }
    .left, .right  {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 43vh;
    }
}

.airpod-cases {
    height: 100vh;
    width: 100%;
    background-color: #000000;
    color: rgb(213,62,34);
    text-align: center;
    justify-content: space-evenly;
    background-image: url('../images/footer_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .item-container {
        width: 100%;
        min-height: 16vh;
        display: flex;
        align-items: center;
        justify-content: center;
        h3 {
            margin: 0;
        }
    }
    .airpod-cases-image-container {
        display: flex;
        align-items: center;
        width: 100%;
    }
    h3 {
        font-size: 5rem !important;
        margin: 0;
    }
    .airpod-cases-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 90%;
    }
    .azure-airpod-cases-image {
        background-image: url('../images/azure_airpods_gen_3.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 60vh;
        width: 100%;
    }
    .white-airpod-cases-image {
        background-image: url('../images/white_airpods_gen_4.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 60vh;
        width: 100%;
    }
    .image-overlay {
        text-align: center;
        .label,
        .price {
            margin: 0;
        }
    }
    .left, .right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 43vh;
    }
}

.footer {
    min-height: 10vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: #000000;
    color: rgb(213,62,34);
    .acdc-footer, .business-day-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        p {
            margin: 0;
        }
        .acdc-text {
            font-size: 2rem;
            font-weight: bold;
        }
    }


}

@media (max-width: 768px) {
    .header {
        h1 {
            margin: 0;
            font-size: 2rem;
        }
        h2 {
            font-size: 1rem;
        }
    }

    .waterproof-pouch {
        flex-direction: column;
        .left {
            height: 100vh;
            width: 100%;
            .waterproof-pouch-image {
                width: 100%;
            }
        }
        .right {
            text-align: center !important;
            font-size: 1.7rem !important;
            padding: 0 16px;
            h3 {
                font-size: 3rem !important;
                margin: 0;
            }
            p {
                font-size: 1.7rem;
                margin: 12px;
            }
        }
    }

    .touchscreen-pen {
        flex-direction: column-reverse;
        .right {
            height: 100vh;
            width: 100%;
            .touchscreen-pen-image {
                width: 100%;
            }
        }
        .left {
            text-align: center !important;
            font-size: 1.7rem !important;
            padding: 0 16px;
            h3 {
                font-size: 3rem !important;
                margin: 0;
            }
            p {
                font-size: 1.7rem;
                margin: 12px;
            }
        }
    }

    .adhesive-card-pocket {
        height: 100%;
        min-height: unset !important;
        background-size: cover;
        .item-container {
            h3 {
                font-size: 3rem !important;
            }
        }
        .navy-adhesive-card-pocket-image,
        .black-adhesive-card-pocket-image {
            height: 30vh;
        }
    }

    .airpod-cases {
        height: 100%;
        min-height: unset !important;
        background-size: cover;
        .item-container {
            h3 {
                font-size: 3rem !important;
            }
        }
        .azure-airpod-cases-image,
        .white-airpod-cases-image {
            height: 30vh;
        }
    }

}