/* Chrome, Safari, Edge */
::-webkit-scrollbar {
    display: none;
}

/* Firefox */
html {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

/* IE/old Edge */
body {
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.header {
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
    color: #ffffff;
    h1 {
        font-size: 6rem;
        margin: 0;
    }
}